$dark-grey: #333;

$light-grey: #777777;

$darker: #222;

$light-blue: #0ed8d6;

$light-blue-transparent: rgba(14, 216, 214, 0.5);

$lighter-blue: #7de6ef;

$beige: #f7f7f7;

$dark-transparent: rgba(0, 0, 0, 0.4);